body{
    background-color: rgb(31, 38, 48);
}
table , tr ,td{
    border: 2px solid rgb(38, 44, 56);
    border-collapse:collapse ;
    width: 700px;
    height: 40px;
    margin-top: 180px;
    margin-left: 450px;
    overflow-x: scroll;
}
th{
    color: rgb(8, 192, 216);
    text-align: left;
}
td.d-1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
td{
    padding: 10px;
}
tr:nth-child(even){
    background-color:  rgb(15, 38, 71);
}
td.d-2{
    color: rgb(173, 173, 170);
}
td:hover{
    width: 750px;
    height: 45px;
    background-color: darkorange;
    box-shadow: -5px 2px  rgba(255, 140, 0, 0.863) ;
    cursor: pointer;
}