body{
    background-color: rgb(49, 32, 66);
}
i{
    color: rgba(255, 123, 0, 0.616);
}
ul{
    list-style-type: none;
    margin-left: 370px;
    margin-top: 70px;
    
}
li{
    display: inline-block;
    font-size: small;
    text-align: center;
    height: 30px;
    width: 80px;
    cursor: pointer;
}
li{    
    background-color: rgb(62, 78, 129);
    display: inline-block;
    border: 1px solid rgba(99, 90, 90, 0.637);
    padding: 6px;
    border-radius: 5px;
}
li:hover{
    box-shadow: 5px 3px rgb(38, 89, 155);
    background-color: rebeccapurple;
}
li{
    box-shadow: 5px 3px rgb(62, 78, 129);   
}
@media only screen and (max-width: 1340px) {
    body {
      background-color: rgb(63, 45, 80);
    }
    li{
        display: block;
    }
    ul{
        margin-left: 0px;
        float: right;
    }
}